<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Dados da Assistência</div>
        <div class="right">
            <a href="#" class="open-panel link icon-only">
                <i class="icon icon-bars"></i>
            </a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <!-- Form Page-->
    <div id="formAssistencia" data-page="formAssistencia"
         class="page cached" ng-controller="formAssistenciaPageController">
        <div class="page-content">

            <div class="content-block-title">Dados da Assistência</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Nome</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Nome" ng-model="selectedSupport.nome">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Descrição</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Descrição" ng-model="selectedSupport.descricao">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">E-mail</div>
                                <div class="item-input">
                                    <input type="email" placeholder="E-mail" ng-model="selectedSupport.email">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-tel"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Telefone</div>
                                <div class="item-input">
                                    <input type="tel" placeholder="Telefone" ng-model="selectedSupport.telefone">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-url"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Site</div>
                                <div class="item-input">
                                    <input type="url" placeholder="Site" ng-model="selectedSupport.site">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Endereço</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Endereço" ng-model="selectedSupport.endereco">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Bairro</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Bairro" ng-model="selectedSupport.bairro">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">CEP</div>
                                <div class="item-input">
                                    <input type="text" placeholder="CEP" ng-model="selectedSupport.cep">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Complemento</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Complemento" ng-model="selectedSupport.complemento">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-block">
                <div class="row">
                    <div class="col-50">
                        <a href="#" ng-click="back()"
                           class="button button-big button-fill color-red">Cancelar</a>
                    </div>
                    <div class="col-50">
                        <input type="submit" value="Atualizar" class="button button-big button-fill color-green">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


